<template>
<div>
 <!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-3x2 lg:w-full lg:pb-28 xl:pb-32" v-if="client">
     

    
      <!--
        Mobile menu, show/hide based on menu open state.

        Entering: "duration-150 ease-out"
          From: "opacity-0 scale-95"
          To: "opacity-100 scale-100"
        Leaving: "duration-100 ease-in"
          From: "opacity-100 scale-100"
          To: "opacity-0 scale-95"
      -->
     

      <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28" >
        <div class="sm:text-center lg:text-left">

      <div v-if="AUTH && CLIENTS ">
      <div v-for="client in CLIENTS" :key="client.name">
<div class="flex flex-col" >
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"  >
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Title
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Создать Push</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                     <div>{{client.name}}</div>
                    </div>
                    <div class="text-sm text-gray-500">
                      <div>Сайт</div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Regional Paradigm Technician</div>
                <div class="text-sm text-gray-500">Optimization</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <button class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  История отправки Push 
                </button>
              </td>

              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <router-link :to="{name: 'Push',   params: {id: client.id, name:client.name}}" class="text-indigo-600 hover:text-indigo-900">Создать Push</router-link>
              </td>
            </tr>

            <!-- More items... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
             <!-- This example requires Tailwind CSS v2.0+ -->


        </div>
            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="#" @click="clientForm" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                Создать клиента
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10">
                Live demo
              </a>
            </div>
          </div>
      </main>
         
    </div>
  </div>
  <div class="close-client" v-if="client_form">
         <button @click="closeClientForm" class="ml-8  whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
          Вернуться к клиентам
        </button >
  </div>

<div class="cluent_form" v-if ="client_form">
 

                    <input type="hidden" name="apikey" value="YOUR_ACCESS_KEY_HERE">
                    <input type="hidden" name="subject" value="New Submission from Web3Forms">
                    <input type="checkbox" name="botcheck" id="" style="display: none;">


                    <div class="mb-6">
                        <label for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Название</label>
                        <input type="text" name="name" id="name" placeholder="Название" v-model="name_client" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Ключ Farebase</label>
                        <input type="text" name="key" id="email" v-model="key"  required class="w-full  px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                  
                    

                    <div class="mb-6">
                        <button @click=" submitFormClient"  class="w-full px-3 py-4 text-white bg-indigo-700 rounded-md focus:bg-indigo-600 focus:outline-none">Создать клиента</button>
                    </div>
                      <div class="mb-6" v-if="token">
                        <label for="message" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Ключ API</label>
                        <textarea rows="10" name="message" id="message" v-model="token" placeholder="Your Message"   class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required>{{}}</textarea>
                    </div>
                    <p class="text-base text-center text-gray-400" id="result">
                    </p>
                </div>
</div>

  <!-- <div v-if="AUTH">
     <button class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
          Выйти
    </button>
  <div v-for="client in CLIENTS" :key="client.name"  >

     <div>{{client.id}}</div>
  <div>{{client.name}}</div>
 <router-link :to="{name: 'Push',   params: {id: client.id, name:client.name}}">{{client.name}}</router-link>
 <router-link :to = "{name: '', params: { id: }}" >asdad</router-link> -->

 
  </div>
  
  <!-- </div>
   </div> -->

</template>

<script>
import {mapActions,mapGetters} from 'vuex'
import Auth from '../helpers/Auth'
import axios from 'axios'

export default {
  data(){
    return{

        client:true,
        client_form:false,
        name_client:null,
    // this.$store.state.count
        key:null,
        password:null,
        token:null,


  
    }

},
  components:{},
  
  props: {
    msg: String
  },
   computed:{
    ...mapGetters(['PUSHES','NAV', 'CLIENTS','AUTH']),
    auth(){
      return false;
    }
  },
   methods:{
    ...mapActions(['GET_PUSHES_FROM_API','ADD_CLIENT_FORM_LOGIN']),
    clientForm(){
      this.client = false
      this.client_form = true
    },
    async submitFormClient() {
            let client = {
                name: this.name_client,
                user_id: this.$store.state.Auth.user_id,
                key: this.key,
       
            }
           
            await axios.post('http://october.local/api/register', client).then((response => {
              console.log(response.data.token)
               this.token = response.data.token

            }))
        //      key:null,
        // password:null,
        // token:null
        this.key = null,
        this.password=null,
        this.name_client = null
       
        },
        closeClientForm(){
          this.client_form = false,
          this.client = true
          this.ADD_CLIENT_FORM_LOGIN()

        }
        
  
   

  },
   created() {
     Auth.init() 
  },
  mounted(){
    this.ADD_CLIENT_FORM_LOGIN()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.cluent_form{
  max-width:800px;
  margin: 0 auto;
  padding-top: 200px;
}
button{
  cursor: pointer;
   border:none;
   outline: none;

}
.close-client{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}
td{
  width: 350px;
}

.whitespace-nowrap{
   width: 250px !important;
}

</style>
