<template>
  <div class="dsa">
    
      
        
        <button  @click="Logout">
        ВЫйти
        </button>

   
  </div>
</template>

<script>
import {mapActions} from 'vuex'
import Auth from '../helpers/Auth';

export default {
data(){
    return{

        email:null,
        password:null,
  
    }

},
   computed:{
    // ...mapGetters(['USER']),
    // auth(){
    //   return false;
    // }
  },
   methods:{
...mapActions(['ADD_USER_FORM_LOGIN']),
   async Logout(){
        Auth.logout()     
    }

  },
   mounted() {

  }
}

</script>
