<template>
  <div v-if="AUTH">
    <div class="push_form" >
                    <div class="mb-6">
                        <label for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Название</label>
                        <input type="text" name="name" id="name" v-model="title" placeholder="Название"  required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Текст</label>
                        <textarea rows="7" name="message" id="message" v-model="body" placeholder="Your Message"   class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required>{{}}</textarea>
                    </div>
                    <div class="mb-6">

                        <label for="phone" class="text-sm text-gray-600 dark:text-gray-400">Картинка</label>
                        <input type="file"  placeholder="password" ref="file"  @change="onChangeFileUpload()"  required class="w-full px-3 py-2 placeholder-gray-300  rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                     <div class="mb-6">
                        <label for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Ссылка</label>
                        <input type="url" name="name" id="name" v-model="click" placeholder="Название"  required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>

                    <div class="mb-6">
                        <button @click=" submitFormPsuh"  class="w-full px-3 py-4 text-white bg-indigo-700 rounded-md focus:bg-indigo-600 focus:outline-none">Создать Push</button>
                    </div>

                </div>

</div>
</template>

<script>
import {mapActions,mapGetters} from 'vuex'
import Auth from '../helpers/Auth'
import axios from 'axios'
export default {

  data(){
      return{
          id_pusher : null ,
          file : '',
          tilte : null,
          body : null,
          name_push : null,
          click : null

      }
  },
  props: ['id'],
  
   computed:{
    ...mapGetters(['PUSHES','NAV', 'CLIENTS','AUTH']),
    auth(){
      return false;
    }
  },
   methods:{
    ...mapActions(['GET_PUSHES_FROM_API','ADD_CLIENT_FORM_LOGIN']),
       submitFormPsuh() {


          let formData = new FormData();
             formData.append('icon', this.file);
            formData.append('title', this.title);
            formData.append(' body', this.body);
            formData.append('click', this.click);
            formData.append('client_id', this.id_pusher);
                axios.post('http://october.local/api/pushs',
                    formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function() {
                    console.log(Array.from(formData));
                })
                .catch(function() {
                    console.log('FAILURE!!');
                });
        },

      
                
    onChangeFileUpload() {
            this.file = this.$refs.file.files[0];
         
        }

    
    },


   created() {
         Auth.init() 
         this.id_pusher = this.$route.params.id
    
         
    

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.push_form{
  padding-top:200px;
}
</style>