<template>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Регистрация
      </h2>

    </div>
   
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
         <div>
          <label for="email-address" class="sr-only">Имя</label>
          <input id="email-address" name="name" v-model="name"  type="email" autocomplete="name" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Введите Имя">
        </div>
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" name="email" v-model="email"  type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" v-model="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
        </div>

        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password_confirmation" type="password" v-model=" password_confirmation" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password Confirm">
        </div>
      </div>

    

      <div>
        <button @click="Register"  class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">

          </span>
         Войти
        </button>
      </div>
 
  </div>
</div>


</template>

<script>
import {mapActions} from 'vuex'


export default {
data(){
    return{
        name:null,
        email:null,
        password:null,
        password_confirmation:null
    }

},
   computed:{
    // ...mapGetters(['REGISTER']),
    // auth(){
    //   return false;
    // }
  },
   methods:{
 ...mapActions(['REGISTER']),
  async  Register(){
          let user = {
          name: this.name,
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
        }
        await this.REGISTER(user)
       
    }

  },
   mounted() {

  }
}

</script>
