<template>
  <div class = "wrapper">
  <div class = "wrapper">
    <!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <span class="sr-only">Workflow</span>
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
        </a>
      </div>
  
  
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0 " v-if="!AUTH">
        <router-link to="/login" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
          Войти
        </router-link>
        <router-link to="/register" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
          Зарегистрироваться
        </router-link >
      </div>
           <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0 " v-if="AUTH">

        <router-link @click="Logout" to="/login" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
          Выйти
        </router-link >
      </div>
    </div>
  </div>

  <!--
    Mobile menu, show/hide based on mobile menu state.

    Entering: "duration-200 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->
  <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="pt-5 pb-6 px-5">
        <div class="flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
          </div>
          <div class="-mr-2">
            <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        
      </div>
      <div class="py-6 px-5 space-y-6" v-if="!AUTH" >
     
        <div>
          <router-link  to="/login" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
            Войти
          </router-link >
          <p class="mt-6 text-center text-base font-medium text-gray-500">
            Existing customer?
            <router-link to="/register" class="text-indigo-600 hover:text-indigo-500">
              Sign in
            </router-link>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>

        


 
  <router-view/>
  </div>
   
</template>
<script>
import {mapGetters} from 'vuex'
import Auth from './helpers/Auth'
import {mapActions} from 'vuex'

export default {

  props: {
    msg: String
  },
   computed:{
    ...mapGetters(['AUTH']),
    auth(){
      return false;
    }
  },
   methods:{
  ...mapActions(['LOGOUT']),
  async Logout(){
    let user ={
      id:this.$store.state.Auth.user_id
    }

      await this.LOGOUT(user)
      Auth.logout() 
      this.$router.push('/login') 
          
       }
    },
   created() {


  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.wrapper{
  max-width: 1366px;
  margin: 0 auto;

}

</style>
